<img src="assets/img/logo.png" alt="" class="header__logo" />
<h3 class="heading-3">Your own home:</h3>
<h1 class="heading-1">The ultimate personal freedom</h1>
<button class="btn header__btn">View out properties</button>
<div class="header__seenon-text">Seen on</div>
<div class="header__seenon-logos">
  <img src="assets/img/logo-bbc.png" alt="bbc" />
  <img src="assets/img/logo-forbes.png" alt="forbes" />
  <img src="assets/img/logo-techcrunch.png" alt="techcrunc" />
  <img src="assets/img/logo-bi.png" alt="bi" />
</div>
