<div class="container">
  <div class="sidebar">
    <button class="sidebar__btn"></button>
  </div>

  <header class="header">
    <img src="assets/img/logo.png" alt="" class="header__logo" />
    <h3 class="heading-3">Your own home:</h3>
    <h1 class="heading-1">The ultimate personal freedom</h1>
    <button class="btn header__btn">View out properties</button>
    <div class="header__seenon-text">Seen on</div>
    <div class="header__seenon-logos">
      <img src="assets/img/logo-bbc.png" alt="bbc" />
      <img src="assets/img/logo-forbes.png" alt="forbes" />
      <img src="assets/img/logo-techcrunch.png" alt="techcrunc" />
      <img src="assets/img/logo-bi.png" alt="bi" />
    </div>
  </header>

  <div class="realtors">
    <h3 class="heading-3">Top 3 Realtors</h3>
    <div class="realtors__list">
      <img
        src="assets/img/realtor-1.jpeg"
        alt="realtor"
        class="realtors__img"
      />
      <div class="realtors__details">
        <h4 class="heading-4 heading-4--lite">Erik Feinman</h4>
        <p class="realtors__sold">250 houses sold</p>
      </div>
      <img
        src="assets/img/realtor-2.jpeg"
        alt="realtor"
        class="realtors__img"
      />
      <div class="realtors__details">
        <h4 class="heading-4 heading-4--lite">Kim Brown</h4>
        <p class="realtors__sold">185 houses sold</p>
      </div>
      <img
        src="assets/img/realtor-3.jpeg"
        alt="realtor"
        class="realtors__img"
      />
      <div class="realtors__details">
        <h4 class="heading-4 heading-4--lite">Toy Ramsey</h4>
        <p class="realtors__sold">365 houses sold</p>
      </div>
    </div>
  </div>

  <section class="features">
    <div *ngFor="let feature of features" class="feature">
      <svg class="feature__icon">
        <use [attr.xlink:href]="feature.icon"></use>
      </svg>
      <h4 class="heading-4 heading-4--dark">{{ feature.heading }}</h4>
      <p class="feature__text">
        {{ feature.text }}
      </p>
    </div>
  </section>

  <div class="story__pictures">
    <img src="assets/img/story-1.jpeg" alt="couple" class="story__img--1" />
    <img src="assets/img/story-2.jpeg" alt="house" class="story__img--2" />
  </div>

  <div class="story__content">
    <h3 class="heading-3 mb-sm">Happy Customers</h3>
    <h2 class="heading-2 heading-2--dark mb-md">
      &ldquo;The best decision of our lives&rdquo;
    </h2>
    <p class="story__text">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tenetur
      distinctio necessitatibus pariatur voluptatibus. Quidem consequatur harum
      volupta!
    </p>
    <button class="btn">Find your own home</button>
  </div>

  <section class="homes">
    <div *ngFor="let house of houses; let i = index" class="home">
      <img src="{{ house.img }}" alt="house + {{ i }}" class="home__img" />
      <svg class="home__like">
        <use xlink:href="assets/img/sprite.svg#icon-heart-full"></use>
      </svg>
      <h5 class="home__name">{{ house.title }}</h5>
      <div class="home__location">
        <svg>
          <use xlink:href="assets/img/sprite.svg#icon-map-pin"></use>
        </svg>
        <p>{{ house.location }}</p>
      </div>
      <div class="home__rooms">
        <svg>
          <use xlink:href="assets/img/sprite.svg#icon-profile-male"></use>
        </svg>
        <p>{{ house.rooms }} rooms</p>
      </div>
      <div class="home__area">
        <svg>
          <use xlink:href="assets/img/sprite.svg#icon-expand"></use>
        </svg>
        <p>{{ house.area }} m<sup>2</sup></p>
      </div>
      <div class="home__price">
        <svg>
          <use xlink:href="assets/img/sprite.svg#icon-key"></use>
        </svg>
        <p>${{ house.price }}</p>
      </div>
      <button class="btn home__btn">Contact realtor</button>
    </div>
  </section>

  <section class="gallery">
    <figure
      *ngFor="let pic of gallery; let i = index"
      class="gallery__item gallery__item--{{ i + 1 }}"
    >
      <img src="{{ pic.src }}" alt="gal{{ i + 1 }}" class="gallery__img" />
    </figure>
  </section>

  <footer class="footer">
    <ul class="nav">
      <li class="nav__item">
        <a href="#" class="nav__link">Find your dream home</a>
      </li>
      <li class="nav__item">
        <a href="#" class="nav__link">Request proposal</a>
      </li>
      <li class="nav__item">
        <a href="#" class="nav__link">Download home planner</a>
      </li>
      <li class="nav__item"><a href="#" class="nav__link">Contact us</a></li>
      <li class="nav__item">
        <a href="#" class="nav__link">Submit your property</a>
      </li>
      <li class="nav__item">
        <a href="#" class="nav__link">Come work with us</a>
      </li>
    </ul>
    <p class="copyright">
      &copy; Copyright 2023 by
      <a href="https://github.com/ilianrusev">Iliyan Rusev</a>
    </p>
  </footer>
</div>
