<div class="container">
  <app-sidebar></app-sidebar>
  <app-header></app-header>
  <app-realtors></app-realtors>
  <app-features></app-features>

  <div class="story__pictures">
    <img src="assets/img/story-1.jpeg" alt="couple" class="story__img--1" />
    <img src="assets/img/story-2.jpeg" alt="house" class="story__img--2" />
  </div>

  <div class="story__content">
    <h3 class="heading-3 mb-sm">Happy Customers</h3>
    <h2 class="heading-2 heading-2--dark mb-md">
      &ldquo;The best decision of our lives&rdquo;
    </h2>
    <p class="story__text">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tenetur
      distinctio necessitatibus pariatur voluptatibus. Quidem consequatur harum
      volupta!
    </p>
    <button class="btn">Find your own home</button>
  </div>

  <section class="homes">
    <div *ngFor="let house of houses; let i = index" class="home">
      <img src="{{ house.img }}" alt="house + {{ i }}" class="home__img" />
      <svg class="home__like">
        <use xlink:href="assets/img/sprite.svg#icon-heart-full"></use>
      </svg>
      <h5 class="home__name">{{ house.title }}</h5>
      <div class="home__location">
        <svg>
          <use xlink:href="assets/img/sprite.svg#icon-map-pin"></use>
        </svg>
        <p>{{ house.location }}</p>
      </div>
      <div class="home__rooms">
        <svg>
          <use xlink:href="assets/img/sprite.svg#icon-profile-male"></use>
        </svg>
        <p>{{ house.rooms }} rooms</p>
      </div>
      <div class="home__area">
        <svg>
          <use xlink:href="assets/img/sprite.svg#icon-expand"></use>
        </svg>
        <p>{{ house.area }} m<sup>2</sup></p>
      </div>
      <div class="home__price">
        <svg>
          <use xlink:href="assets/img/sprite.svg#icon-key"></use>
        </svg>
        <p>${{ house.price }}</p>
      </div>
      <button class="btn home__btn">Contact realtor</button>
    </div>
  </section>

  <section class="gallery">
    <figure
      *ngFor="let pic of gallery; let i = index"
      class="gallery__item gallery__item--{{ i + 1 }}"
    >
      <img src="{{ pic.src }}" alt="gal{{ i + 1 }}" class="gallery__img" />
    </figure>
  </section>

  <footer class="footer">
    <ul class="nav">
      <li class="nav__item">
        <a href="#" class="nav__link">Find your dream home</a>
      </li>
      <li class="nav__item">
        <a href="#" class="nav__link">Request proposal</a>
      </li>
      <li class="nav__item">
        <a href="#" class="nav__link">Download home planner</a>
      </li>
      <li class="nav__item"><a href="#" class="nav__link">Contact us</a></li>
      <li class="nav__item">
        <a href="#" class="nav__link">Submit your property</a>
      </li>
      <li class="nav__item">
        <a href="#" class="nav__link">Come work with us</a>
      </li>
    </ul>
    <p class="copyright">
      &copy; Copyright 2023 by
      <a href="https://github.com/ilianrusev">Iliyan Rusev</a>
    </p>
  </footer>
</div>
